body {
    background-color: white; /* 배경 색상 설정 */
    margin: 0; /* 기본 여백 제거 */
    padding: 20px; /* 바디 여백 설정 */
}

.container {
    
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
}

h1 {
    text-align: center; /* 제목 중앙 정렬 */
    margin-bottom: 20px; /* 제목 아래 여백 설정 */
}

.grid {
    display: grid; /* 그리드 레이아웃 사용 */
    grid-template-columns: repeat(5, 1fr); /* 4열 설정 */
    gap: 20px; /* 아이템 간격 설정 */
}

.item {
    overflow: hidden; /* 내부 요소가 넘칠 경우 숨김 */
    text-align: center; /* 텍스트 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center;
    width:210px;
    margin:5px;
}

.item img {
    width: 200px; /* 이미지 너비 100% */
    height: 200px; /* 자동 높이 조정 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.item p {
    margin: 10px 0; /* 설명 텍스트 여백 설정 */
    font-size: 14px; /* 설명 폰트 크기 설정 */
    color: #333; /* 설명 텍스트 색상 설정 */
}

.MAIN-IMAGE{
    display:flex;
    background-color: #ffffff; /* 아이템 배경 색상 */
    border: 1px solid #dee2e6; /* 모든 방향에 테두리 설정 */
    overflow: hidden; /* 내부 요소가 넘칠 경우 숨김 */
    width: 100%; /* 이미지 너비 100% */
    height: 100%; /* 이미지 높이 100% */
    object-fit: cover;
    height: 250px; /* 아이템 높이 설정 */
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.퍼스널컬러
{
    text-align: left;
}